* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: url('./images/self_portrait.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: Arial, sans-serif;
}
